@using Newtonsoft.Json
@model Api.Models.Account.AuthInfoDto

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PaperWorker</title>

    <script>
        window._INITIAL_STATE_ = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
</head>
<body>
<div id="app"></div>

<script src="bundle.js"></script>
</body>
</html>